body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
}
.top-banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
h1{
    font-size: 50px;
    font-weight: 700;
    color: deeppink;
}
h2{
    font-weight: 300;
}